:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.demo-link {
    padding: 8px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.toolbar-container {
    display: flex;
    height: 64px;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}