<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over" class="sidenav-container">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <mat-toolbar class="toolbar-container" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


