<div class="title-container">
  <h1>
    Welcome to Ng Code Demos!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h3>Runtime: {{version.full}}</h3>
</div>
<div class="content-container">
  <div class="demo-item-container">
      <h3>Blackjack</h3>
      <a routerLink="blackjack"><img src="assets/images/blackjack.png" /></a>
  </div>
  <div class="demo-item-container">
      <h3>CRM</h3>
      <a routerLink="crm"><img src="assets/images/rolodex.png" /></a>
  </div>
  <div class="demo-item-container">
      <h3>Performance</h3>
      <a routerLink="performance"><img src="assets/images/meter.png" /></a>
  </div>
</div>
  

