:host {
    display: flex;
    flex: 1 0 auto;
    padding: 8px;
    max-width: 100vw; 
    flex-direction: column;
}

.content-container {
    flex: 1 0 auto; 
    display: flex; 
    flex-direction: row; 
    margin-top: 20px;
    flex-wrap: wrap;
}

.demo-item-container {
    display: flex; 
    flex-direction: column; 
    flex: 1 0 auto; 
    align-items: center; 
    justify-content: center;
    min-width: 260px;
}

.title-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

mat-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}